*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 50%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width:70% ;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.products{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    border:1px solid #000;
    display:flex;
    flex-direction:column;
}

.card img{
    width:100%;
    height:300px;      /* same height for all images */
    object-fit:cover;  /* keeps alignment */
    display:block;
}
.card:hover{
    background-color: black;
    color: white;
}

.card p{
    padding:10px;
    margin:0;
}

h1{
    margin-left:20pxpx;
    margin-top: 20px;
    padding: 10px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}
